@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --color-dark: #030712;
  --color-white: #94a3b8;
  --color-box: #0f172a;
  --color-link: #134e4a;
  --color-line: #475569;
  --color-error: #dc2626;

  --fs-xl: 128px;
  --fs-lg: 64px;
  --fs-md: 32px;
  --fs-base: 16px;
  --fs-sm: 8px;
}
/* @media (min-width: 280px) {
  :root {
    --fs-xl: 64px;
    --fs-lg: 32px;
    --fs-md: 16px;
    --fs-base: 8px;
    --fs-sm: 4px;
  }
} */
@media (min-width: 456px) {
  :root {
    --fs-xl: 89px;
    --fs-lg: 44px;
    --fs-md: 22px;
    --fs-base: 10px;
    --fs-sm: 8px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-xl: 94px;
    --fs-lg: 49px;
    --fs-md: 27px;
    --fs-base: 10px;
    --fs-sm: 8px;
  }
}
@media (min-width: 1024px) {
  :root {
    --fs-xl: 102px;
    --fs-lg: 51px;
    --fs-md: 25px;
    --fs-base: 12px;
    --fs-sm: 8px;
  }
}
@media (min-width: 1280px) and (max-width: 1366px) {
  :root {
    --fs-xl: 115px;
    --fs-lg: 57px;
    --fs-md: 28px;
    --fs-base: 14px;
    --fs-sm: 8px;
  }
}
@media (min-width: 1600px) {
  :root {
    --fs-xl: 140px;
    --fs-lg: 70px;
    --fs-md: 35px;
    --fs-base: 16px;
    --fs-sm: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 p {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: var(--color-link);
}
img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}

button {
  font: inherit;
}

label,
input {
  display: block;
}
label {
  margin-top: 64px;
}
input {
  width: 100%;
  height: 32px;
  margin-top: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-line);
}
input[type="text"] {
  font-size: var(--fs-base);
  font-weight: 700;
  color: var(--color-white);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-line);
}

body {
  font-size: var(--fs-base);
  font-family: "Ubuntu", sans-serif;
  color: var(--color-white);
  background-color: var(--color-dark);
  line-height: 1.2;
  overflow-x: hidden;
}

.debug {
  border: 1px solid black;
}
.debug-red {
  border: 1px solid red;
}
.container {
  width: 100%;
  min-height: 100dvh;
}
.container__userlist {
  height: 95vh;
}
.container__userlist > p {
  font-size: var(--fs-md);
  text-align: center;
  margin-top: 300px;
}
/* ******************** container__grid ******************* */

.container__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  padding: 24px;
}
.container__grid > div {
  position: relative;
  max-width: 100%;
  height: 300px;
  padding: 8px;
  background-color: var(--color-box);
  border-radius: 8px;
  overflow: hidden; /* Hide overflow content */
  white-space: nowrap;
}
.container__checkbox{
position: absolute;
top: 0;
right: 8px;
height: 0;
}
.container__checkbox > input{
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
.container__grid > div > p {
  text-align: center;
  font-size: var(--fs-md);
  margin-top: 120px;
}
.container__grid--profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__grid--profile > p {
  font-size: var(--fs-md);
}
.container__grid--img {
  width: 150px;
  height: 150px;
}
.container__grid--info {
  text-align: start;
  line-height: 1.5;
  margin-top: 16px;
  padding: 8px;
}

/* ******************** container__action ******************* */

.container__menu {
  position: fixed;
  display: flex;
  width: 100%;
  height: 5vh;
}
.container__menu--file{
 margin-left: 8px;
}
.container__menu--file > a{
  margin-right: 8px;
}
.container__menu--action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-left: 20%;
  /* margin: 0 auto; */
}
iconify-icon {
  color: #082f49;
}
iconify-icon:hover {
  transition: 300ms ease-in;
  color: #1d4ed8;
  scale: 1.1;
}

/* ******************** container__form ******************* */
.container__form {
  font-size: var(--fs-md);
  width: 60%;
  height: 600px;
  background-color: var(--color-box);
  padding: 64px;
  margin: 0 auto;
  margin-top: 128px;
}
.container__form > p {
  text-align: center;
}
.container__form > form {
  height: 80%;
}
.container__form > form > p {
  font-size: var(--fs-base);
  text-align: center;
  color: var(--color-error);
  margin-top: 24px;
}
.container__form > div {
  display: flex;
  justify-content: space-between;
}

.container__form > div > button {
  border: none;
  background-color: transparent;
  color: var(--color-white);
}
/* ******************** container__events ******************* */
.container__events {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 24px;
}

.container__events--content {
  width: 80%;
}

.container__userinfo {
  height: 15%;
}
.container__userinfo > h1 {
  font-size: var(--fs-lg);
}
.container__userinfo > a {
  font-size: var(--fs-md);
}
.container__list {
  height: 85%;
  padding: 24px;
  overflow-y: auto;
}
.container__list > p {
  font-size: var(--fs-md);
  margin-left: -24px;
}
.container__list--data {
  border-bottom: 2px solid var(--color-line);
  margin-bottom: 24px;
}

.container__event--title {
  font-size: var(--fs-md);
  font-weight: 600;
  line-height: 2;
  width: 20%;
  text-align: center;
}
.container__home > a {
  font-size: var(--fs-lg);
  margin-left: 24px;
}
/* ******************** container__token ******************* */
.container__token {
  font-size: var(--fs-md);
  width: 60%;
  height: 600px;
  background-color: var(--color-box);
  padding: 64px;
  margin: 0 auto;
  margin-top: 128px;
}

.container__token > button {
  font-size: var(--fs-lg);
  margin-top: 200px;
  color: var(--color-white);
  background-color: transparent;
  border: none;
}
/* ******************** media__query ******************* */

@media (min-width: 280px) and (max-width: 445px) {
  .container__grid {
    grid-template-columns: 1fr;
    padding: 12px;
  }
  .container__grid--info {
    margin-top: 8px;
    padding: 8px;
    line-height: 1.2;
  }
  .container__events {
    padding: 8px;
  }
  .container__events--content {
    width: 100%;
  }
  .container__userinfo {
    height: 10%;
    text-align: center;
  }
  .container__userinfo > h1 {
    font-size: var(--fs-md);
  }
  .container__userinfo > a {
    font-size: var(--fs-base);
  }
  .container__list {
    height: 90%;
  }

  .container__event--title {
    display: none;
  }
  .container__home {
    text-align: center;
  }
  .container__home > a {
    font-size: var(--fs-md);
    margin: 0;
  }
}

@media (min-width: 446px) and (max-width: 556px) {
  .container__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 557px) and (max-width: 768px) {
  .container__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .container__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
